.img-height{
    height: 100%;
}
.astyle{
    top: 39% !important;
     content: "";
    background: url(https://jthemes.net/themes/html/transp/assets/imgs/template/icons/arrow-down.svg) no-repeat center;
    height: 8px;
    width: 12px;
    position: absolute;
    top: 50%;
    right: 0px;
}
.header .main-menu li.has-children > a::after {
   
}